.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    border-radius: 2rem;
    background-color: white;
  }
}
